html,body{ font-family:arial !important;}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../font/Raleway-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/Raleway-Bold.woff') format('woff'), url('../font/Raleway-Bold.ttf')  format('truetype'), url('../font/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('../font/Raleway-Light.eot?#iefix') format('embedded-opentype'),  url('../font/Raleway-Light.woff') format('woff'), url('../font/Raleway-Light.ttf')  format('truetype'), url('../font/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


.transcriptor::-webkit-scrollbar {
    width: 0.5em;
}
.title-box{    padding: 10px;
    font-size: 24px;}
.tabs_block{    float: left;
    position: relative;
    background-color: #d6d7d9;
    width: 321px;
    height: 60px;
    cursor: pointer;
    color: #000;
    
    padding-top: 23px;
	    padding-left: 60px;
    font-weight: bold;
    border-top: 1px solid grey;}
.transcriptor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.close_box{display: block !important;
    float: right;
    position: absolute;
    top: 20px;
    z-index: 10;
    right: 13px;
    cursor: pointer;
    /* background: #fff; */
    /* padding: 5px; */
    width: 51px;
    height: 53px;}
/*.nis_frame_tabMode{
  float: none;
    position: absolute;
    width: 645px;
        height: 300px;
    background: #fdb515;
    top: 100px;
    display: none;
    overflow: hidden;
    left: 309px;
    z-index: -1;
	border-left: 1px solid grey;

}*/

.transcriptor::-webkit-scrollbar-thumb {
  background-color: #FF7C09;
  /*outline: 1px solid white;*/
}
.mainshell_ipad{float:none; width:1024px;    height: 670px; margin:0px auto;-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);}
.height{height:5px;}
.height1{    height: auto;}
.height2{height: 529px; background#f4f4f4;}
.padding1{padding-top:9px !important;}
.contain_image{    float: left;right: 12px;position: relative;z-index: -4;    height: 504px;
    width: 1024px;}
.z-index{float:left; position:absolute;z-index:-3; opacity:0.7;}
.z-index1{z-index:2;}
.widthoverlay{width:1024px !important;height: 560px;}
.widthoverlay1{width:1024px !important;float:none; margin:0px auto; position:relative}
.containers{width:100% !important;}
.moveup{    position: relative;
       bottom: 32px;}
	.moveup1{    position: relative;
    bottom: 5px;
    float: right !important;
    right: 37px;}
	.transcript_box {
    display: none;
    position: absolute;
        width: 234px;
    height: auto;
    bottom: 12.3rem;
    right: 17.9rem;
    border: 1px solid #c4c4c4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 35;
}
.transcript_icon{    float: left;
    position: absolute;
    right: 12px;
        top: 560px; z-index:5;}
.audiotran_text{height:420px;}
.footerwidth{
    left: 0px;
    position: relative;
		    top: 1.5rem;
				border-top:1px solid #333;
}
.preloader-wrapper{
    position: absolute;
    left: 50%;
    z-index: 5;
    top: 38%;
}
.preloader-box{      float: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0px auto;
    z-index: 6;
    left: 0px;}
.loading{    float: none;
    width: 200px;
    height: auto;
    position: relative;
    margin: 0px auto;
    text-align: center;
    top: 16.4rem;
    left: 34px;}
.launch_wrapper {
    float: none;
    width: 1024px;
      height: 670px;
    margin: 0px auto;
    z-index: 10;
    background: url(../images/lauchimage.png);
    position: absolute;
    background-size: 1024px auto;
	background-repeat:no-repeat;
	bottom: 0px;
}
.launchbox{    float: left;
    position: absolute;
    width: 1024px;
    height: 645px;
    z-index: 5;
    bottom: -65px;}
.footerpadding {
     padding-left: 0px !important;
    top: 34.3rem;
    position: relative;
    left: 0px;
}
.launch_button {
    position: absolute;
    width: 135px;
    height: 38px;
    z-index: 1;
      top: 89%;
    left: 58%;
    margin: -100px 0 0 -150px;
    text-align: center;
    padding-top: 8px;
    background: #285771;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}
.page{    position: absolute;
    bottom: 1rem;
    width: 90%;
    left: 2rem;}
		.z-index1{    position: absolute;
    z-index: 1;
    }
.transcriptor{    position: absolute;
    width: 942px;
    height: 152px;
    overflow-x: hidden;
    overflow-y: auto;
    right: 43px;
    top: 41px;
    z-index: 1;
    display: none;
    /* opacity: 0.8; */
    background: #fff;}
		.trnscript_text{display:none;     position: absolute;
    float: left;
        background: #fff;
    padding: 8px;
    color: #666 !important;
    border-top: 1px solid #fff;}
.activex_1 {
     background:url(../images/icons/tabiconwhite6.png) #1B75BB  !important; background-repeat:no-repeat !important; background-position:5px center !important; color: white !important;
	
}
.activex_2 {
     background:url(../images/icons/tabiconwhite5.png) #1B75BB  !important; background-repeat:no-repeat !important; background-position:5px center !important; color: white !important;
	
}
.activex_3 {
     background:url(../images/icons/tabiconwhite4.png) #1B75BB  !important; background-repeat:no-repeat !important; background-position:5px center !important;  color: white !important;
	
}
.activex_4 {
     background:url(../images/icons/tabiconwhite3.png) #1B75BB  !important; background-repeat:no-repeat !important; background-position:5px center !important; color: white !important; 
	
}
.activex_5 {
     background:url(../images/icons/tabiconwhite2.png) #1B75BB  !important; background-repeat:no-repeat !important; background-position:5px center !important; color: white !important;
	
}
.activex_6 {
     background:url(../images/icons/tabiconwhite1.png) #1B75BB  !important; background-repeat:no-repeat !important; background-position:5px center !important; color: white !important;
	
}
.activex-remove {
    background:georgian;
}		
.Tactive{z-index:2; position:absolute;}
.trnscript_text ul{ list-style-type:circle;}
.trnscript_text ul li{ list-style-type:circle;}
.close_transcript{    float: left;
    position: absolute;
    /* bottom: 157px; */
    right: 43px;
    z-index: 6;
    display: none;
    background: #B0ADAD;
    /* padding-top: 7px; */
    width: 50px;
    /* align-items: center; */
    padding: 4px 0 0 8px !important;
    height: 41px;
	cursor: pointer;
}
.transcript_loader{    position: absolute;
    width: 1024px;
    height: 198px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: -62px;
  /*<!--  right: 288px;-->*/
    display: none;
    z-index: 1;
		right:-4px;}
.transcript_title{    float: left;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
    /* padding-bottom: 10px; */
    left: 39px;
    z-index: 2;
    top: 0px;
    font-size: 20px;
    color: #3F3D3D;
    width: 942px;
    height: 41px;
    background-color: #CECECE;}
		.framename{float: left;
    position: relative;
    height: 50px;
    width: 147px;
    font-family: 'Raleway-Bold' !important;
        font-size: 18px;
    top: 0.25rem;}
		.menu-box{width: 353px;
    display: none;
    position: relative;
    top: 55px;
    left: 21px;
	height: 49px;
    padding-left: 16px; }
.menu-boxi1{width: 353px;
    display: none;
    position: relative;
    top: 55px;
    left: 21px;
    padding-left: 16px; }
		.moduletitle{    float: left;
    position: left;
    position: absolute;
    font-size: 2.2rem;
    font-family: 'Raleway-Bold' !important;
    width: 53%;
    left: 7rem;
    top: 4rem;color:#f5f6f6  !important;}
		.color-yellow{color:#fdb515 !important;}
		.modulesubtexttitle{float: left;
    position: absolute;
    font-size: 1.5rem;
    width: 43%;
    font-family: 'Raleway-Light';
    font-weight: 100;
    top: 2rem;
    left: 7rem;
    color: #FFF;}
		.copyrighttext{    position: absolute;
    top: 101px;}
		.position-footer{    position: absolute !important;
    top: 8rem;
		}
		.position-image-logo-launch{    position: relative;
    top: 35px;}
		.responsive-icon{    position: relative;
    right: 55px;    top: 0px; padding-top:4px;}
		.moduleclose-icon{    position: relative;
    left: 26px;    top: 7px;}
		.sectioname{    float: left;
    position: relative;
    height: auto;
   right: 79px;
    width: 200px;
    font-family: 'Raleway-Bold' !important;
   font-size: 18px;
    top: 0.25rem;}
		.arrow-indicator{    float: left;
    position: relative;
    bottom: 20px;
    font-size: 1.2rem;
       right: 68px;}
		.framenames{height:14px; position:absolute; color:#333;line-height: 14px;
    font-weight: bold;display:none; background: #fff;}
		.titles-position-manager{    float: left;
    position: relative;
       bottom: 38px;
    width: 50%;
    left: 10rem;}
		.nextFrame{color:#fff;}
		.frametext{    float: left !important;
    position: relative;
    right: 24px;
    top: 5px;}
		.sectionnames{    height: auto;
    position: absolute;
    color: #333;
    line-height: 14px;
    font-weight: bold;
    display: none;
    background: #fff;
    padding-top: 1px;
    width: 310px;}
		.tableof_content{    float: left;
    position: absolute;
    width: 250px;
    height: 350px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;
    top: 300px;
    z-index: 1;
    display: none;
    top: 55px;
    right: 345px;}
		.toclist{    padding: 10px !important;
    margin: 0px !important;
    top: 0px;
    position: relative;
    height: 300px;
    overflow-y: auto;}
.title_menu{    padding: 10px !important;
    color: #fff;
    font-size: 20px;}
		.toclist li{    padding: 12px !important;
    color: #666;
    cursor: pointer;    border-bottom: 1px solid #c5c5c5;}
		.helpindex{ float:none; position:absolute; width:1024px; height:670px; margin:0px auto; background:url(../images/help_screen.png); background-repeat:no-repeat; display:none; top:0px; z-index:4; cursor:pointer;}
		.close_help{    float: right;
    position: absolute;
    right: 448px;
    width: 201px;
    height: 187px;
    background-color: transparent;
    top: 257px;
    cursor: pointer;}
		#resourceloader{float: right;
    position: absolute;
         top: 104px;
    right: 594px;
    background-color: #fff;
    width: 90px;
    z-index: 4;
    cursor: pointer;
    border: 1px solid #f4f4f4; display:none;}
		.listactivity{padding:2px !important; margin-top:0px !important; margin-bottom:0px !important;     border-top: 1px solid #e0e0e0 !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
		.listactivity li{padding: 0px 20px !important;}
		.close_resources{    float: right;
    position: absolute;
            top: 104px;
    right: 567px;
    z-index: 6;
    display: none;
    cursor: pointer; background: #222; height: 31px;}
		/*.opacity-black{opacity:0.5;}*/
		.frameno{    float: left;
    position: relative;
    font-size: 18px;
    left: 7px;font-family: 'Raleway-Bold' !important;}
		.totalfrm{font-size: 18px;
    float: left;
    position: relative;
    left: 20px;font-family: 'Raleway-Bold' !important;}
		.slash{float: left;
    position: relative;
       left: 23px;font-family: 'Raleway-Bold' !important;}
		.loadtitle3{width: 150px;}
.nextFrame{    float: right;
    position: absolute;
      right: 31px;
    top: 2px;
       color: #fff; display:none;}
.brand-logo img {    width: 120px;}
/* Component style */
.jp-volume-controls{
    float: left;
    position: absolute;
    width: 200px;
    height: auto;
    top: 172px;
    left: 375px;
	}
	.jp-mute{
background:url(../images/volume.png);
		background-repeat:no-repeat;
		background-position:center center;
		width:33px !important;
		height:33px !important;
        left: 12.9rem;
        top: 12px;
		        display: none;	
		}
		.jp-previous{    position: absolute;
    z-index: 2;
    bottom: 220px;
    left: 0px;    padding: 10px; background:#FF7C09 !important;}
		.jp-next{position: absolute;
    z-index: 2;
    bottom: 219px;
       left: 971px;    padding: 10px;background:#FF7C09 !important;}
		.jp-stop{width:33px !important; height:33px !important;}
		.jp-volume-bar{     float: left;
    width: 80%;
    position: absolute;
    height: 5px;
    background: #fff;
    top: 1.7rem;
    left: 1.17rem;
    cursor: pointer;}
		.jp-volume-bar-value{
    height: 5px;
    background-color:#38A55B;
    float: left;
    position: absolute;
    top: 0rem;
		cursor:pointer;
			}
		.jp-unmute{
		
		background:url(../images/mute.png);
		background-repeat:no-repeat;
		background-position:center center;
		width:33px !important;
		height:33px !important;
		     left: 12.9rem;
    top:12px;
		
		}
		.jp-volume-max{
			    width: 33px;
    height: 33px;
    float: left;
    position: relative;
		       top: 11px;
        right: 39px;
			
			}
.toc_close{float: left;
    position: absolute;
    z-index: 10;
    left: 198px;
    cursor: pointer;
    display: none;
    padding: 5px;
    top: 4px;
}
.audio-slideshow {
	     width: 1024px;
    height: 539px;
    position: relative;
    margin: 0 auto;
}
.replay-audio{ background:url(../images/replay.png); background-repeat:no-repeat; background-position:center;    float: left;
    position: relative;
    width: 33px !important;
    height: 33px !important;
    top: 11px;
    left: 155px;}
.audio-slideshow .audio-slides {
	position: relative;
}
.circle-playhead{float: left;
    position: relative;
    width: 25px;
    height: 25px;
    background: #1B75BB;
    border-radius: 60px; bottom:12px;}
.audio-slideshow .audio-slides img {
	display: block;
	position: absolute;
	        top: 9px; left: 0;
}

.audio-slideshow .audio-control-interface {
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 100%;
    height: auto;
}

.audio-slideshow .play-pause-container, .audio-slideshow .time-container {
	    position: absolute;
         bottom: 3px;
    height: 150px;
    font-weight: bold;
    color: #FF7C09;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.audio-slideshow .play-pause-container a {
	outline: none;
	text-indent: -99999px;
	width: 150px;
	height: 150px;
	position: absolute;
	z-index:6;
	background-repeat:no-repeat;
}

.audio-slideshow .play-pause-container a.audio-play {
	background: transparent url(../images/play.png) no-repeat center center;
	background-size:150px;
	background-repeat:no-repeat;
	bottom: 85px;
    left: 830px; 
	height: 50px;
    width: 150px;
}
.audio-slideshow .play-pause-container a.audio-play_1{
		background: transparent url(../images/play_change.png) no-repeat center center;
	background-repeat:no-repeat;
	display: block;
    width: 33px;
    height: 33px;
      left: 30rem;
    top: 11.3rem;
		    z-index: 6;
				display:none;
				    /*background-color: #ddd;*/

	}
.audio-slideshow .play-pause-container a.jp-stop{
		background: transparent url(../images/stop.png) no-repeat center center;
		  left: 8.6rem;
    top: 11rem;
		display:none;
}
.audio-slideshow .play-pause-container a.audio-pause {
    background: transparent url(../images/pause.png) no-repeat center center;
    left: 473px;
    top: 182px;
}

.audio-slideshow .audio-control-interface .time-container {
	    right: 6px;
    bottom: 22.6rem;
}

.audio-slideshow .timeline {
      position: absolute;
    width: 100%;
    background-color: #818384;
    height: 4px;
    top: 12px;
    right: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}

.audio-slideshow .timeline .playhead {
position: absolute;
    height: 4px;
    background-color: #1B75BB;
    cursor: pointer;
    bottom: 0px;

}

.marker {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
	position: absolute;
	background: #B8BAC6;
	top: 5px;
	display:none;
}

.marker span {
	padding: 5px;
	position: absolute;
	bottom: 20px;
	opacity: 0;
	left: -50px;
	z-index: -1;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	background: #f5f6f6;
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.marker span img {
	display: block;
}

.marker:hover span {
	opacity: 1;
	z-index: 100;
}
.nis_frame_tabMode { background:#fdb515;}
.timeline-container{ float: none; position: relative; margin: 0px auto; width: 900px;}


@media screen and (max-width:1024px)
{
    body{overflow-y: auto; overflow-x: hidden;}
    .audio-slideshow .play-pause-container a.audio-pause {
     left: 483px;
    top: 182px;
}
    nav .brand-logo {
        left: 0%;}
    .audio-slideshow .timeline {right: 0px;}
  .tableof_content {right: 67px;
}
 .transcript_loader {right: -4px;}
    body,
html {
  position: fixed;
    overflow: hidden;
}
  .close_resources {
    top: 122px;
    right: 282px;
    background: #222;
}
    #resourceloader{
      top: 122px;
        right: 315px;}
}
@media screen and (max-width:1023px)
{
    nav .brand-logo {
    left: 0%;
}
    .mainshell_ipad{width: 1023px;}   
    .widthoverlay {
        width: 100% !important;}
    .audio-slideshow {
        width: 100%;}
      .jp-next {left: 966px;}
}
@media screen and (max-width:1017px)
{
    .jp-next {left: 964px;}
}
@media screen and (max-width:1014px)
{
    .jp-next {left: 960px;}
}
@media screen and (max-width:1007px)
{
    .jp-next {
    left: 954px;
}
    .transcript_loader {right: -9px;}
}
@media screen and (max-width:1001px)
{
    
    .transcript_loader {
    right: -13px;
}
}
@media screen and (max-width:1000px)
{
    
   .jp-next {
    left: 947px;
}
    .responsive-icon {
    right: 65px;
    }
    .moduleclose-icon {left: 16px;}
    .transcript_loader {
    right: -11px;
}
    .transcript_icon {right: 0px;}
}
@media screen and (max-width:997px)
{
    
    .responsive-icon {
    right: 72px;
}
    .jp-next {
    left: 944px;
}
    .menu-box {left: 0px;}
    .moduleclose-icon {
    left: 10px;
}
    .transcript_loader {
    right: -15px;
}
    .responsive-icon {
    right: 75px;
}
}
@media screen and (max-width:996px)
{
    .moduleclose-icon {
    left: 8px;
}
    .jp-next {
    left: 943px;
}
}
@media screen and (max-width:994px)
{
    .transcript_loader {
    right: -17px;
}
nav .brand-logo {
    left: 0%;
} 
    .menu-box {
    display: block !important;
}
    
}
@media screen and (max-width:992px)
{
     nav .brand-logo {
    left: 6%;
}
   .menu-box {
    left: -14px;
} 
}
@media screen and (max-width:990px)
{
    .jp-next {
    left: 937px;
}
    .transcript_loader {
    right: -20px;
}
    .responsive-icon {
    right: 82px;
}
    .moduleclose-icon {
    left: 2px;
}
}
@media screen and (max-width:985px)
{
    .transcript_loader {
    right: -22px;
}
    .jp-next {
    left: 932px;
}
 .transcript_loader {
    right: -23px;
}  
    .responsive-icon {
    right: 90px;
}
    .moduleclose-icon {
    left: -9px;
}
}
@media screen and (max-width:980px)
{
    .jp-next {
    left: 930px;
}
}
@media screen and (max-width:979px)
{
    .jp-next {
    left: 926px;
}
    .transcript_loader {
    right: -25px;
}
}
@media screen and (max-width:975px)
{
        .jp-next {
    left: 922px;
}
        .transcript_loader {
    right: -26px;
}
}
@media screen and (max-width:973px)
{
    .transcript_loader {
    right: -28px;
}
    .timeline{right: -12px;}
    .jp-next{left: 920px;}
}
@media screen and (max-width:971px)
{
   
    .jp-next{left: 919px;}
    .responsive-icon {
    right: 100px;
}
    .moduleclose-icon {
    left: -18px;
}
    .transcript_loader {
    right: -29px;
}
}
@media screen and (max-width: 970px)
{
.jp-next {
    left: 917px;
}
}
@media screen and (max-width:965px)
{
  .jp-next {
    left: 912px;
}
    .transcript_loader {
    right: -31px;
}
    .menu-box {
    left: -33px;
}
    
}
@media screen and (max-width:960px)
{
    .jp-next {
    left: 907px;
}
    .responsive-icon {
    right: 112px;
}
    .moduleclose-icon {
    left: -28px;
}
    .transcript_loader {
    right: -35px;
}
}

@media screen and (max-width:768px)
{
    .transcript_loader {
    right: 0px;
}
    .moduleclose-icon {
    left: 27px;
}
    .responsive-icon {
    right: 67px;
}
    .menu-box {
    left: 0px;
}
    body{background: #222;}
   .launch_wrapper {
    width: 100%;
    }
    .tableof_content {right: 61px;}
    .launchbox {

        width: 100%;}
    .mainshell_ipad {width: 100%;    height: 845px;}
    .audio-slideshow {
        width: 100%;    height: 775px;
}
    .widthoverlay {
        width: 100% !important;}
    .jp-next {
        left: 716px;}
    .audio-slideshow .audio-control-interface {
    right: 0px;
    }
    .contain_image img {
    width: 199%;
    right: 445px;
    position: relative;
}
    .row .col {padding: 0px;}
    .contain_image {
    float: left;
        right: 0px;
        height: 862px;}
    .moveup{ background: #222;     height: 75px;
    left: 1px;bottom: 187px;}
    .containers {
    width: 100% !important;
       }
    nav .brand-logo {
        left: 8%;}
    .replay-audio {
    top: 26px;
        left: 0px;}
    .jp-mute{display: none !important;}
    .audio-slideshow .play-pause-container a.audio-play_1 {
top: 192px;
        left: 20rem;}
    .position-footer{ background: #fff;}
    .widthoverlay {    height: 789px;}
    .audio-slideshow .timeline {
        top: 22px;}
    .transcript_icon {
        top: 806px;}
    .audio-slideshow .audio-control-interface .time-container {
    bottom: 38.6rem;
}
     .launchbox {bottom: 155px;}
    .launchbox {height: auto !important;}
    .launch_wrapper {height: 924px;bottom: -254px;background-position: -197px 1px;    background-size: 185% auto;}
    .footerpadding {top: 47.3rem;}
    .contain_image{overflow: hidden;    bottom: 90px !important;}
    .transcriptor {
    width: 768px;
        right: 0px;}
    .close_transcript {
        right: 12px;}
    .transcript_title {
    left: 259px;
    width: 650px;}
    .height2 {
    height: auto;
}
    .frametext{left: 1px; top: 10px;}
    .jp-previous {bottom: 342px;}
     .jp-next {bottom: 342px;}
    footer.page-footer .footer-copyright {
   
        height: 54px;}
    .transcript_loader {bottom: -48px !important;}
   .audio-slideshow .play-pause-container a.audio-pause {
    left: 331px;
    top: 197px;
}
    .menu-box{display: block !important;} 
    .titles-position-manager {
        bottom: 52px;}
    
}
iframe{display:none;}
@media screen and (max-width:1024px){
iframe{   
    right: 14rem !important;
    top: 50px !important;}
}
