.niseditor{float:left;width:100%; height:80px;position:relative; background:#f4f4f4; display:none;}
.mdi-action-perm-media{font-size:30px;padding:5px;}
.mdi-av-my-library-music{font-size:30px;padding:5px;}
.mdi-av-video-collection{font-size:30px;padding:5px;}
.mdi-content-link{font-size:30px; padding:5px;}
.mdi-editor-format-align-justify{font-size:30px; padding:5px;}