<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var app = angular.module("myApp",[]);
app.controller("mycontroller",function($scope)
{
$scope.quantity =10;
$scope.price =10;
$scope.arr = ["one","two","three"];
});
</script>
<body>

<div ng-app="myApp" ng-controller = "mycontroller">

<h2>Cost Calculator</h2>

Quantity: <input type="number" ng-model="quantity">
Price: <input type="number" ng-model="price">

<p><b>Total in dollar:</b> {{quantity * price}}</p>
<ul>
<li ng-repeat="arrays in arr">
{{arrays}}
</li>
</ul>
</div>

</body>
</html>
'