.padding-0{padding: 0px;}
.logo-brand{width: 85px; height: auto;}
.margin-bot-0{margin-bottom: 0px;}
.clear1{padding: 10px;}
body { padding-bottom: 70px; }

.border-radius-0{border-radius: 0px !important;}