
/*page 1*/
#slider-one{    background: #fff;
    height: 360px;
    position: relative;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		border-top:2px solid #6FC68D;
		border-bottom:2px solid #6FC68D;}
		#slider-two{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
		#slider-three{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
		#slider-four{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
		#slider-five{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-six{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-seven{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-eight{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-nine{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-ten{
      height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
		}
			#slider-eleven{
      height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
		}
		#slider-twelve{
			height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
			}
				#slider-thirteen{
			height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
			}
			#slider-fourteen{
				height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
				
				}
					#slider-fifteen{
				height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
				
				}
					#slider-sixteen{
				height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
				
				}
				#slider-seventeen{
						height: 85px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
					
					}
		.bottomtext{position:relative;      top: 9rem;
    font-size: 32px}
	.block1,.block2,.block3{    position: absolute;
    top: 12rem;
    left: 5.4rem;}	
.clicknext{font-size: 2rem;
    top: 0.4rem;
    position: relative;}

/*---make a basic box ---*/
.box{
width: 200px;
height: 200px;
position: relative;
margin: 10px;
padding: 20px;  
float: left;



}
/*.one,.two,.three{display:none;}*/
/* Slide two animation*/
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		 -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}
/* second*/
.animated_2 { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		 -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
} 

@-webkit-keyframes bounceIn_2 { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn_2 { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn_2 { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}

/* third*/
.animated_3 { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		 -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
} 

@-webkit-keyframes bounceIn_3 { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn_3 { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn_3 { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}
/*Slide2 animation ends here*/
/*.bulletbar{ height: 360px;position: absolute;opacity: 1;width: 85%;float: none;margin: 0px auto;right: 9px;top: 6rem;}*/
/*Block Animations*/
.animated1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInDown1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown1 { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.animated2 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInDown2 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown2 { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.animated3 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInDown3 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown3 { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.tabtitle1{
	    float: left;
    position: absolute;
    z-index: 2;
    width: 225px;
    height: 360px;
   /* border: 1px solid #fff;*/
    bottom: 2rem;
	}
	.tabtitle2{
	    float: left;
    position: absolute;
    z-index: 2;
    width: 225px;
    height: 360px;
    left: 13.5rem;
		bottom:2rem;
	}
	.tabtitle3{
	    float: left;
    position: absolute;
    z-index: 2;
    width: 225px;
    height: 360px;
        bottom: 2rem;
    left: 27.4rem;
	}
	.bottomtitle{width: 225px;
    bottom: 0px;
    float: left;
    position: absolute;
    height: auto;
    padding: 3px;
    font-size: 1.2rem;}
		.toptitle{font-size: 1.2rem;}
		
		/* Animation with for the section bottom title and top title*/
		.animated_title1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		-webkit-animation-delay: 1s;
} 

@-webkit-keyframes fadeInLeft1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft1 { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft1{ 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}
.animated_title2 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		-webkit-animation-delay: 2s;
} 

@-webkit-keyframes fadeInLeft2 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft2 { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft2 { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}
/* Next point*/
.animated_toptl1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 
@-webkit-keyframes bounceIn_toptl1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn_toptl1 { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn_toptl1 { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}
.scaling_minimize
{
	transform: scale(0.7, 0.7);
-ms-transform: scale(0.7, 0.7);
-webkit-transform: scale(0.7, 0.7);
}
/* Fadout*/

.animated_fadeout1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes fadeOut1 { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut1 { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeOut1 { 
    -webkit-animation-name: fadeOut; 
    animation-name: fadeOut; 
}
.hide{display:none;}
.title_bar{    padding: 0.5rem !important;
    font-size: 1.2rem;}
		
/* Learning objective message box*/
.animated_lo1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease; 
} 

@-webkit-keyframes fadeInRight_lo1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight_lo1 { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRight_lo1 { 
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}		
@-webkit-keyframes fadeInLeft_bullet {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft_bullet {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft_bullet {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.para{    font-size: 1rem;
    font-weight: bold;}
		.img{position: relative !important;
    left: 2rem !important;
    top: 3rem !important;}
.padding{padding-left:15px; background:url(../images/bullet.png); background-repeat:no-repeat;    background-position: left 6px;  
}
/*page 1 ends here*/
/*page 2 starts here*/
#slider-one_page2 {
    background: #edefee;
    height: 508px;
    position: relative;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
  
}