<div class="col-md-12" >
<div class="container">
   <div class="col-md-12">
    <h2 class="center">Photo Gallery <button type="button" class="btn  btn-padding" data-toggle="modal" data-target="#myModal">Hire Artist</button></h2>
    <input type="text" ng-model="photofilter" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
</div>
<div class="col-md-12 padding-top-30">
<div class="col-md-4 margin-top15" ng-repeat="photo in photostock |  filter:photofilter">
<div class="col-md-12  padding-top-bottom box-shadow">
<div class="col-md-12 "><img class="img-responsive" ng-src="{{photo.thumbnail}}" /></div>
<div class="col-md-12"><h4 class="center">{{photo.phototitle}}</h4></div>
<div class="col-md-12 center">{{photo.photoDescription}}</div>
<div class="col-md-12 author">Author: {{photo.photoauthor}} </div>
<div class="col-md-12">
<a href="#"  ng-click="addtocart()">Place order</a>    
</div>
    </div>

</div> 

</div> 
</div>
</div>