   .imgtext-slideshow{    color: #000;
    font-size: 18px;
    float: left;
    position: relative;
    width: 1024px;
    height: 544px;
    right: 12px;
    top: 7px;
    background: #fff;}
        .list-bullet-preicon {
    padding-left: 20px !important;
    background: url(images/bullet.png);
    background-repeat: no-repeat;
    background-position: left center;
        padding: 6px
}
        .adjustpading{    padding-top: 24px !important;}
        .layout-align_1{float: right;
    position: absolute;
    width: 562px;
    height: auto;
    padding-left: 50px;
    right: 60px;}
         .layout-align_2{
    position: absolute;
   float: left;
    position: absolute;
    height: 285px;
   left: 61px;
    box-shadow: 0px 0px 16px #333333;
    -webkit-box-shadow: 0px 0px 16px #333333;
    -moz-box-shadow: 0px 0px 16px #333333;
    border: 1px solid #333;
    width: 390px;
    top: 124px;

    }
.layout-align_2 img{    margin: 0px auto !important;
    float: none !important;
    position: relative !important;
}
 .bullet-title {
    float: left;
    position: relative;
    width: 100%;
    color: #000;
    padding-left: 10px;
}