html,body{padding: 0px; overflow-x: hidden;}
.margin-top-header{    margin-top: 4.2em;}
.padding-left-right{    padding-left: 7em;
    padding-right: 7em;}
.navbar-default .navbar-nav>li>a{font-style: normal !important;}
.navbar-default .navbar-nav>li>a:hover{color:#f05b72;font-weight: bold !important;}
.navbar-default .navbar-nav>li>a:focus{color:#f05b72;font-weight: bold !important;}
html,body{position:relative;height:100%;}body{background:#eee;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#000;margin:0;padding:0;}.swiper-container{width:100%;height:100%;}.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.caption{    position: absolute;
    float: right;
    z-index: 5;
    width: 100%;
    display: block;
    top: 0px;
    text-align: right;
    padding-right: 12em;
    padding-top: 6em;
    display: none;}
.caption h3{font-size: 32px;color:#f05b72;}
.caption h4{color:#46c2ca;}
.qouteinfo{    position: relative;
    background: #fff;
    padding: 19px;
    width: 60%;
    top: -33px;
    z-index: 3;
    float: none;
    margin: 0px auto;
    font-size: 18px;
    border-radius: 3px;}