.tab_box{    float: left;
    position: absolute;
    top: 44px;
    left: 44px;}
/*page 1*/
.block_tab{float:left; position:relative; width:250px; height:125px; margin-left:70px; background:forestgreen;}
.block-text{    float: left;
    position: relative;
    width: 250px;
    height: auto;
    text-align: center;
    margin-left: 70px;
    font-size: 21px;
    padding: 0px;
    margin-top: 15px;}
.paragraph-block{float: left;
    position: relative;
    width: 892px;
    height: auto;
    padding: 5px;
    margin-left: 70px;
    background: #fff;
	}
.center-circle{ float: none;
    width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 70px;
    border: 2px solid forestgreen;
    margin: 110px auto;
    background: coral;}
.absolute-circle{     float: left;
    width: 85px;
    height: 85px;
    padding: 5px;
    border-radius: 70px;
    border: 2px solid forestgreen;
    position: absolute;
   }
   #circle1{left: 19rem;}
#slider-one{    background: #fff;
    height: 360px;
    position: relative;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		border-top:2px solid #6FC68D;
		border-bottom:2px solid #6FC68D;}
		#slider-two{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
		#slider-three{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
		#slider-four{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
		#slider-five{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-six{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-seven{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-eight{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-nine{
    height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 9px;
    top: 6rem;
		}
			#slider-ten{
      height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
		}
			#slider-eleven{
      height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
		}
		#slider-twelve{
			height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
			}
				#slider-thirteen{
			height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
			}
			#slider-fourteen{
				height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
				
				}
					#slider-fifteen{
				height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
				
				}
					#slider-sixteen{
				height: 360px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
				
				}
				#slider-seventeen{
						height: 85px;
    position: absolute;
    opacity: 1;
    width: 85%;
    float: none;
    margin: 0px auto;
    right: 88px;
    top: 6rem;
					
					}
		.bottomtext{position:relative;      top: 9rem;
    font-size: 32px}
	.block1,.block2,.block3{    position: absolute;
    top: 12rem;
    left: 5.4rem;}	
.clicknext{font-size: 2rem;
    top: 0.4rem;
    position: relative;}

/*---make a basic box ---*/
.box{
width: 200px;
height: 200px;
position: relative;
margin: 10px;
padding: 20px;  
float: left;



}
/*.one,.two,.three{display:none;}*/
/* Slide two animation*/
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		 -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}
/* second*/
.animated_2 { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		 -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
} 

@-webkit-keyframes bounceIn_2 { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn_2 { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn_2 { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}

/* third*/
.animated_3 { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		 -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
} 

@-webkit-keyframes bounceIn_3 { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn_3 { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn_3 { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}
/*Slide2 animation ends here*/
/*.bulletbar{ height: 360px;position: absolute;opacity: 1;width: 85%;float: none;margin: 0px auto;right: 9px;top: 6rem;}*/
/*Block Animations*/
.animated1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInDown1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown1 { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.animated2 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInDown2 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown2 { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.animated3 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInDown3 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown3 { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.tabtitle1{
	    float: left;
    position: absolute;
    z-index: 2;
    width: 225px;
    height: 360px;
   /* border: 1px solid #fff;*/
    bottom: 2rem;
	}
	.tabtitle2{
	    float: left;
    position: absolute;
    z-index: 2;
    width: 225px;
    height: 360px;
    left: 13.5rem;
		bottom:2rem;
	}
	.tabtitle3{
	    float: left;
    position: absolute;
    z-index: 2;
    width: 225px;
    height: 360px;
        bottom: 2rem;
    left: 27.4rem;
	}
	.bottomtitle{width: 225px;
    bottom: 0px;
    float: left;
    position: absolute;
    height: auto;
    padding: 3px;
    font-size: 1.2rem;}
		.toptitle{font-size: 1.2rem;}
		
		/* Animation with for the section bottom title and top title*/
		.animated_title1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		-webkit-animation-delay: 1s;
} 

@-webkit-keyframes fadeInLeft1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft1 { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft1{ 
    -webkit-animation-name: fadeInLeft1; 
    animation-name: fadeInLeft1; 
}
.animated_title2 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
		-webkit-animation-delay: 2s;
} 

@-webkit-keyframes fadeInLeft2 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft2 { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft2 { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}
/* Next point*/
.animated_toptl1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 
@-webkit-keyframes bounceIn_toptl1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn_toptl1 { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn_toptl1 { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}
.scaling_minimize
{
	transform: scale(0.7, 0.7);
-ms-transform: scale(0.7, 0.7);
-webkit-transform: scale(0.7, 0.7);
}
/* Fadout*/

.animated_fadeout1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes fadeOut1 { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut1 { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeOut1 { 
    -webkit-animation-name: fadeOut; 
    animation-name: fadeOut; 
}
.hide{display:none;}
.title_bar{    padding: 0.5rem !important;
    font-size: 1.2rem;}
		
/* Learning objective message box*/
.animated_lo1 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease; 
} 

@-webkit-keyframes fadeInRight_lo1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight_lo1 { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRight_lo1 { 
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}		
@-webkit-keyframes fadeInLeft_bullet {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft_bullet {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft_bullet {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.para{    font-size: 1rem;
    font-weight: bold;}
		.img{position: relative !important;
    left: 2rem !important;
    top: 3rem !important;}
.padding{padding-left:15px; background:url(../images/bullet.png); background-repeat:no-repeat;    background-position: left 6px;  
}
/*page 1 ends here*/
/*page 2 starts here*/
#slider-one_page2 {
    background: #edefee;
        height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
  
}
#slider-two_page2{
	background: #edefee;
     height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
	}
	#slider-three_page2{
	background: #edefee;
       height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
	}
		#slider-four_page2{
	background: #edefee;
    height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
	}
			#slider-five_page2{
	background: #edefee;
       height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
	}
	#slider-six_page2{
	background: #edefee;
     height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
	}
	#slider-seven_page2{
	background: #edefee;
        height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
	}
	#slider-eight_page2{
	background: #edefee;
        height: 529px;
    position: absolute;
    opacity: 1;
    width: 100%;
    float: none;
    margin: 0px auto;
    right: 12px;
       top: 1.29rem;
	}
	.boxleftslide{float:left; width:95%; height:auto; padding:10px; }
	.second_col{float: right !important;
    top: 144px;
    position: relative;
    border-left: 10px solid #1f4a90;
    right: 84px;}
	.third_sub_col1{float: right !important;
    /*top: 144px;*/
    position: relative;
    border-left: 10px solid #1f4a90;
    /*right: 84px;*/}
	.third_sub_col2{    float: right !important;
    /* top: 144px; */
    position: relative;
    border-left: 10px solid #1f4a90;
    left: 398px;}
	.third_col{    float: right !important;
    top: 209px;
    position: relative;
    /* border-left: 10px solid #1f4a90; */
    left: 50px;}
	.box1{
	float:left;
	position:relative;
	width:50%;
	height:auto;
	}
	.box2{
	    float: right;
    position: relative;
    width: 50%;
    height: auto;
   /* right: 19px;*/
	}
	.image_under{
	float:left; position:absolute;top:0px;}

	.image_top{
	float:left; position:absolute;top:0px;}
	
	.bullet1,.bullet2,.bullet3,.bullet4{ float:left; position:relative;height:auto;}
	.largewidth{    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    top: 136px;
    right: 70px;}
	.border{border-left:10px solid #1f4a90;}
	.divide_in_2{     float: left;
    position: relative;
    width: 49%;
    padding: 10px;
    margin-right: 5px;
    right: 70px;
    top: 157px;    height: 100px;}
	.bold{ font-weight:bold;}
	.animated_bullets1 {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
			 
         }
    
		  @-webkit-keyframes fadeIn_bullets {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         @keyframes fadeIn_bullets {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         .fadeIn_bullets {
            -webkit-animation-name: fadeIn_bullets;
            animation-name: fadeIn_bullets;
         }
         @-webkit-keyframes fadeInRight_bullets {
            0% {
               opacity: 0;
               -webkit-transform: translateX(20px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateX(0);
            }
         }
         
         @keyframes fadeInRight_bullets {
            0% {
               opacity: 0;
               transform: translateX(20px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
         
         .fadeInRight_bullets {
            -webkit-animation-name: fadeInRight_bullets;
            animation-name: fadeInRight_bullets;
         }
		 .title-text{    font-size: 21px;
    padding: 12px;}
	.blocks{float:left; position:relative; width:250px; padding:10px;    margin: 5px; border-radius:5px;}
	.blocks_box{    float: none;
    position: relative;
    width: 795px;
    height: auto;
    margin: 0px auto;}
	.arrow{    float: left;
    position: relative;
    width: 250px;
    height: auto;
    left: 76px;
    bottom: 5px;}
	.carcinoid{    left: 119px;
    top: 74px;}
	.atypicalcarcinoid{    left: 119px;
    position: absolute;
    top: 180px;}
	.intermediate{    left: 94px;
    position: absolute;
    top: 245px; width:300px;}
	.down_arrow{left: 374px;
    bottom: 10px;}
	.nec{top: 76px;}
	.necs{left: 520px;
    top: 85px;}
	@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; }
	.tabs{width:100% !important;}
.tab_feature{ float:none; position:relative; width:820px; height:auto; margin:0px auto;}
.tabular{float:left; position:relative; width:250px; height:auto; cursor:pointer; margin:5px; padding:10px;}
.extraslides{float:none; position:relative; height: 435px; margin:0px auto; width:820px;}
.video_overlay{float:none; position:absolute; height: 435px; margin:0px auto; width:820px; opacity:0.7; z-index:2;}
.tabular1,.tabular2,.tabular3 {display:none;}
.close{float: right;position: absolute;right: 0px;top: 0px;width: 33px;height: 33px; cursor:pointer;z-index: 1;}
.close img{width:33px; height:33px;}
.tab_title{    float: left;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    bottom: 50px !important;
    font-size: 1.5rem;}
.image-box{    float: none;
    margin: 0px auto;
    position: relative;
    width: 200px;
    height: auto;
    top: 104px;}
	.point1{    width: 290px;
        height: 65px;
    padding: 10px;
    position: absolute;
    top: 85px;}
	.point2 {
    width: 290px;
        height: 65px;
    padding: 10px;
    position: absolute;
    top: 85px;
    float: right;
    right: 0px;}
	.year{    float: left;
    position: absolute;
    top: 77%;
    left: 48%;
    font-size: 25px;}
	.point3{    width: 290px;
    height: 65px;
    padding: 10px;
    position: absolute;
       bottom: 50px;}
	.point4{    width: 290px;
    height:45px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    border: 1px solid green;}
	.point5{  width: 290px;
        height: 65px;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    float: right;
    right: 0px;}
	.tab_boxes{     display: block !important;
    width: 1025px;
      height: 509px;
       background: #edefee;
    position: relative;
    float: left;
    top: 20px;
    right: 12px;}
		.tab_box1, .tab_box2, .tab_box3{    float: left;
    position: relative;
    width: 341px;
    height: 150px;
    background: grey;
    left: 1px;
    top: 1px;
    /* margin: 5px; */
    overflow: hidden;}
		.overlay_box{float: left;
    position: absolute;
    width: 1024px;
    height: 500px;
    background: #fff;
    z-index: 1;
    top: 0px;
    right: 0px;
		background:#edefee; }