.transcriptor::-webkit-scrollbar {
    width: 0.5em;
}
.tabs_block{float: left;
    position: relative;
    background-color: forestgreen;
    width: 265px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding-top: 14px;
    font-weight: bold;}
.transcriptor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.close_box{display: block !important;
    float: right;
    position: absolute;
    top: 97px;
    z-index: 10;
    right: 13px;
    cursor: pointer;
    /* background: #fff; */
    /* padding: 5px; */
    width: 51px;
    height: 53px;}
.nis_frame_tabMode{
float: none;
    position: absolute;
    width: 1000px;
    height: 418px;
    background: #f4f4f4;
    top: 120px;
	display:none;
	overflow: hidden;
}
.tab_boxv2 {
    float: left;
    position: absolute;
    bottom: 301px;
    left: 44px;
	display:block !important;
}
.transcriptor::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.mainshell_ipad{float:none; width:1024px;    height: 670px; margin:0px auto;-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);}
.height{height:5px;}
.height1{height:15px;}
.height2{height: 529px; background#f4f4f4;}
.padding1{padding-top:9px !important;}
.contain_image{    float: left;right: 12px;position: relative;z-index: -4;    height: 504px;
    width: 1024px;}
.z-index{float:left; position:absolute;z-index:-3; opacity:0.7;}
.z-index1{z-index:2;}
.widthoverlay{width:1024px !important;height: 560px;}
.widthoverlay1{width:1024px !important;float:none; margin:0px auto; position:relative}
.containers{width:100% !important;}
.moveup{    position: relative;
       top: 8px;}
	.moveup1{    position: relative;
    bottom: 5px;
    float: right !important;
    right: 37px;}
	.transcript_box {
    display: none;
    position: absolute;
        width: 234px;
    height: auto;
    bottom: 12.3rem;
    right: 17.9rem;
    border: 1px solid #c4c4c4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 35;
}
.transcript_icon{    float: left;
    position: absolute;
    right: 12px;
    top: 3.3rem; z-index:5;}
.audiotran_text{height:420px;}
.footerwidth{
    left: 0px;
    position: relative;
		    top: 1.5rem;
				border-top:1px solid #333;
}
.preloader-wrapper{
    position: absolute;
    left: 50%;
    z-index: 5;
    top: 38%;
}
.preloader-box{      float: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0px auto;
    z-index: 6;
    left: 0px;}
.loading{    float: none;
    width: 200px;
    height: auto;
    position: relative;
    margin: 0px auto;
    text-align: center;
    top: 16.4rem;
    left: 34px;}
.launch_wrapper {
    float: none;
    width: 1024px;
      height: 670px;
    margin: 0px auto;
    z-index: 10;
    background: url(../images/coverbg.jpg);
    position: absolute;
    background-size: 1024px auto;
	background-repeat:no-repeat;
	bottom: 0px;
}
.launchbox{    float: left;
    position: absolute;
    width: 1024px;
    height: 645px;
    z-index: 5;
    bottom: -65px;}
.footerpadding {
     padding-left: 0px !important;
    top: 34.3rem;
    position: relative;
    left: 0px;
}
.launch_button {
    position: absolute;
    width: 135px;
    height: 38px;
    z-index: 1;
      top: 89%;
    left: 58%;
    margin: -100px 0 0 -150px;
    text-align: center;
    padding-top: 8px;
    background: #285771;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}
.page{    position: absolute;
    bottom: 1rem;
    width: 90%;
    left: 2rem;}
		.z-index1{    position: absolute;
    z-index: 1;
    }
.transcriptor{position: absolute;
    width: 250px;
        height: 465px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
   right: 0px;
    top: 0px;
    z-index: 1; display:none; opacity:0.8; background:#38A55B;}
		.trnscript_text{display:none;     position: absolute;
    float: left;
    background: #38A55B;
    padding: 10px;
    color: #fff !important;
    top: 50px;
    border-top: 1px solid #fff;}
.activex {
    background: #1ac7d8;
}
.activex-remove {
    background:georgian;
}		
.Tactive{z-index:2; position:absolute;}
.trnscript_text ul{ list-style-type:circle;}
.trnscript_text ul li{ list-style-type:circle;}
.close_transcript{    float: left;
    position: absolute;
      top: 0px;
    right: 250px;
		z-index:1;
		display:none;
}
.transcript_loader{    position: absolute;
    width: 325px;
    height: 465px;
    overflow-x: hidden;
    overflow-y: auto;
    top: 118px;
    right: 288px; display:none; z-index:1;}
.transcript_title{float: left;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    left: 75px;
    z-index: 2;
    top: 0px;
    font-size: 20px;
    color: #fff;
    width: 233px;
    height: 50px;
    background-color:#38A55B;}
		.framename{ float:left; position:relative; height:auto; width:200px;}
		.sectioname{ float:left; position:relative; height:auto;left: 50px;  width:200px;}
		.framenames{height:14px; position:absolute; color:#333;line-height: 14px;
    font-size: 12px;
    font-weight: bold; background:#eeeeee; display:none;}
		.sectionnames{height:14px; position:absolute; color:#333;line-height: 14px;
    font-size: 12px;
    font-weight: bold; background:#eeeeee; display:none;    width: 435px;}
		.tableof_content{    float: left;
        float: left;
    position: absolute;
    width: 250px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #38A55B;
    top: 313px;
    z-index: 1; display:none; opacity:0.8;}
		.toclist{padding:10px !important; margin:0px !important;}
		.toclist li{padding-bottom:10px !important; color:#fff; cursor:pointer;}
		.helpindex{ float:none; position:absolute; width:1024px; height:670px; margin:0px auto; background:url(../images/help_screen.png); background-repeat:no-repeat; display:none; top:0px; z-index:1; cursor:pointer;}
		.close_help{    float: right;
    position: absolute;
    right: 448px;
    width: 201px;
    height: 187px;
    background-color: transparent;
    top: 257px;
    cursor: pointer;}
		#resourceloader{float: right;
    position: absolute;
    right: 456px;
    top: 46px;
    background-color: #fff;
    width: 112px; z-index:1;cursor:pointer;}
		.listactivity{padding:2px !important; margin-top:0px !important; margin-bottom:0px !important;     border-top: 1px solid #e0e0e0 !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
		.listactivity li{padding: 0px 20px !important;}
		.close_resources{float: right;position: absolute;top: 37px;right: 443px;z-index: 2; display:none;cursor:pointer;}
		.frameno{    float: left;
    position: relative;
    font-size: 26px;
    left: 7px;}
		.totalfrm{    font-size: 26px;
    float: left;
    position: relative;
    left: 20px;}
		.slash{float: left;
    position: relative;
    left: 21px;}
		.loadtitle3{width: 150px;}
.nextFrame{    float: right;
    position: absolute;
    right: 31px;
    bottom: 8px;
    color: #333; display:none;}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}
/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
nav{width:100% !important;}
.containers{width:100% !important;}
.transcript_loader {
    right: 0;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
nav{width:100% !important;}
.containers{width:100% !important;}
.transcript_loader {
    right: 0;
}
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
nav{width:100% !important;}
.containers{width:100% !important;}
	.transcript_loader {
    right: 0;
		}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
nav{width:100% !important;}
.containers{width:100% !important;}
.transcript_loader {
    right: 0;
}	
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
nav{width:100% !important;}
.containers{width:100% !important;}
.transcript_loader {
    right: 0;
}		
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
nav{width:100% !important;}
.containers{width:100% !important;}
.transcript_loader {
    right: 0px;}	
		.mainshell_ipad {
    position: relative;
    left:0px;}	
		#resourceloader {
    right: 172px;}
			.close_resources {
    right: 163px;}
		.modal {
    width: 85%;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
nav{width:100% !important;}
.containers{width:100% !important;}
.transcript_loader {
    right: 0;
}		
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
nav{width:100% !important;}
.containers{width:100% !important;}
.transcript_loader {
    right: 0px;}	
		.mainshell_ipad {
    position: relative;
    left: 0px;}		
		#resourceloader {
    right: 172px;}
		.close_resources {
    right: 163px;}
			.modal {
    width: 85%;}
}
/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}
/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}
/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
/* ----------- Apple Watch ----------- */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm) { 

}
/* ----------- Moto 360 Watch ----------- */
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 

}