.f9_img_bg{
	width: 1024px;height: 550px;position: absolute;top:0px; left: 0px;background:url(../images/coverbg.png);}

	
.learning-objective-header1{ 
	padding: 10px;
    font-size: 38px;
    width: 998px;
    position: absolute;
    top: 247px;
    text-align: center;
    color: white;
    background-color: rgba(0, 87, 155, 0.45);
}