.image-box {position: absolute;    top: 31px;    left: 260px; }
.image-box img{position: relative;

    border-radius: 10px;
    border: 6px solid #fff;}
.page_box2 {    float: none;
    position: absolute;
    width: 90%;
    height: 250px;
           margin: 159px auto;
    padding: 7px;
    font-family: Myriad Pro;
    left: 2rem;
	top:189px;
}
.box-title{float: left;
    width: 332px;
    padding: 8px;
    position: relative;
    left: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    background: #c1c453;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    font-size: 17px;
}
.learning-objective{    border: 2px solid #fff;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
           height: 145px;

}
menu, ol, ul {
    padding: 0 0 0 2px;
}
.bullet-background-image{padding: 0px 0px 0px 17px; background: url(../images/bullet-point.png); background-repeat: no-repeat;     background-position: left 7px;}
.subbullet-background-image{padding: 0px 0px 0px 17px; background: url(../images/subbullet-point.png); background-repeat: no-repeat;     background-position: left 7px;}
.sub-bullet{    padding: 0 0 0 29px;
    margin: 2px;}
.bullet-box{    float: none;
    position: absolute;
    width: 50%;
    height: 250px;
    margin: 158px auto;
    padding: 10px;
    font-family: Myriad Pro;
    left: 12rem;}
.bullet1{   position: relative;
    top: 25.5rem;
    left: 3.5rem;
	width:862px;
	}
.bullet2{    position: relative;
    top: 26rem;
    left: 3.5rem;
	width:862px;
	}
.bullet3{    position: relative;
    top: 14rem;
       left: 28.5rem;
	   width:454px;}
.bullet4{    position: relative;
    top: 14rem;
        left: 28.5rem;
		width:454px;}
.bullet5{    position: relative;
    top: 14rem;
        left: 29.5rem;
		width:454px;}
.bullet6{    position: relative;
    top: 14rem;
    left: 28.5rem;    width:454px;}

