html,body{ font-family:arial !important; overflow:hidden !important;height: 711px; 
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('../font/HelveticaNeueRegular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.close-bt img{    top: 3px;
    left: 28px;
    position: absolute;}
.switch{    float: left;
    position: absolute;
    width: 285px;
    z-index: 20;
    margin-left: 40rem;
    top: 1rem;}
.menu-top{    top: 2px;
    position: relative;}
.z-depth-1, nav, .card-panel, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{box-shadow:none !important;}
.branding-active-text{color: #0a95da;}
.bookmarking_overlay{    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 19;
    bottom: 0px; display: none;}
.playbutton{float: left;
    position: absolute;
    width: 229px;
    height: 45px;
    z-index: 10;
top: 247px;}
.console-bg{text-align: center;
background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    padding: 10px;
        bottom: 1em;
    position: relative;
}
#userText{visibility: hidden;}
.bookmarkbox{float: none;
    position: absolute;
    width: 300px;
    height: 125px;
    background: grey;
    z-index: 20;
    left: 50%;
    top: 50%;
    margin-top: -63px;
    margin-left: -150px;
    padding: 10px;display: none;}
canvas{    position: absolute;
        left: 18rem;
    top: 5rem; display: none;z-index: -1000;}
#debugText{height: 628px;
    overflow-y: auto;    position: relative;
    bottom: 2.2em;
    padding-left: 10px;
}
.transcriptor::-webkit-scrollbar {
    width: 0.5em;
}
#debugConsole{float: left;
    position: absolute;
    width: 285px; display: none;
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-ms-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        height: 670px;
}
.inputData{    float: left;
    position: absolute;
    width: 285px;
    top: 619px; display: none;}
.title-box{    padding: 10px;
    font-size: 24px;}
.tabs_block{    float: left;
    position: relative;
    background-color: #d6d7d9;
    width: 265px;
    height: 60px;
    cursor: pointer;
    color: #000;
    
    padding-top: 23px;
	    padding-left: 60px;
    font-weight: bold;
    border-top: 1px solid grey;}
.transcriptor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.close_box{display: block !important;
    float: right;
    position: absolute;
    top: 20px;
    z-index: 10;
    right: 13px;
    cursor: pointer;
    /* background: #fff; */
    /* padding: 5px; */
    width: 51px;
    height: 53px;}
/*.nis_frame_tabMode{
  float: none;
    position: absolute;
    width: 645px;
        height: 300px;
    background: #fdb515;
    top: 100px;
    display: none;
    overflow: hidden;
    left: 309px;
    z-index: -1;
	border-left: 1px solid grey;

}*/
.active-bg{border-bottom: 4px solid #023770;}
.transcriptor::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.main_launch{float: none;
    width: 1024px;
    height: auto;
    margin: 0px auto;}
.mainshell_ipad{float:none; width:1024px;    height: 710px; margin:0px auto;
background: #fff;    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);}
.height {
    height: 37px;
}
.tableof_tab .frameblock, .hiphens{display:none;}

.modulename{    float: left;
    position: absolute;
    width: 50%;
    color: #fff;
    font-size: 25px;
    height: auto;
    bottom: -5px;
    padding-left: 10px;font-family: 'Helvetica';}
.sectiontitle {
      float: left;
    height: 36px;
   /* border-bottom: 4px solid #0a95da !important;*/
    margin-right: 60px;
    /*font-family: 'Helvetica';*/
        font-size: 17px;
}
/*div{font-family: 'Helvetica';}*/
.page10,.page13{cursor: default;}
/*.sectiontitle:hover{  color: #003975 !important; font-weight:bold;}
.sectiontitle:focus{  color: #003975 !important; font-weight:bold;}*/
.activer {
    /* border-bottom: 3px solid #5c7da0 !important; */
    color: #003975 !important;
    font-weight: bold;
}
.activer span{ color: #003975 !important;}
.listsections{float: left;
    position: relative;
    width: 1024px;
    margin-top: 0px;
    padding-left: 255px;
    background: #fff;
    padding-bottom: 5px;
}
.padding-0{padding: 0px !important;}
.sectionblock {
    color: #000 !important;
    position: relative;
    width: 100%;
    display: block;
    margin-top: -21px;
}
.tableof_tab{    position: absolute;
    width: 1024px;
    z-index: 2;
    margin-top: -10px;
        border-bottom: 1px solid #cdcdcd;
    height: 40px;
}
.toclevel17, .toclevel6, .toclevel7, .toclevel8, .toclevel9, .toclevel10, .toclevel11, .toclevel12, .toclevel13, .toclevel14, .toclevel15, .toclevel16{display: none;}
.tableof_tab ul li { padding: 10px; height: auto !important;}
.tableof_tab ul a:hover, a:active{background: transparent !important;}
.tableof_tab ul li:hover{background: transparent !important;}
.tableof_tab ul li:active{background: transparent !important;}
.height1{    height: auto;}
.height2{height: 529px;}
.padding1{padding-top:9px !important;}
.contain_image{    float: left;right: 12px;position: relative;z-index: -4;    height: 504px;
    width: 1024px;}
.z-index{float:left; position:absolute;z-index:-3; opacity:0.7;}
.z-index1{z-index:2;}
.widthoverlay{width:1024px !important;height: 560px;}
.widthoverlay1{width:1024px !important;float:none; margin:0px auto; position:relative}
.containers{width:100% !important;}
.moveup{    position: relative;
       bottom: 32px;}
	.moveup1{    position: relative;
    bottom: -60px;
    float: right !important;
    right: 37px;}
	.transcript_box {
    display: none;
    position: absolute;
        width: 234px;
    height: auto;
    bottom: 12.3rem;
    right: 17.9rem;
    border: 1px solid #c4c4c4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 35;
}
.transcript_icon{    float: left;
    position: fixed;
     right: 186px;
       /* top: 560px; */     bottom: 0px;z-index:5;}
.information-icon{    float: left;
    position: relative;
    background: url(../images/icons/information.png);
    background-repeat: no-repeat;
    width: 33px !important;
    height: 33px !important;
       top: 32px;
        left: 287px; display: none !important;}
.branding-bgcolor{background: #1ca089;}
.audiotran_text{height:420px;}
.footerwidth{
    left: 0px;
    position: relative;
		    top: 1.5rem;
				/*border-top:1px solid #333;*/
}
.preloader-wrapper{
    position: absolute;
    left: 50%;
    z-index: 5;
    top: 38%;
}
.preloader-box{      float: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0px auto;
    z-index: 6;
    left: 0px;}
.pageloader-box{
          float: none;
    position: absolute;
    width: 100%;
        height: 554px;
    background: #ecf8f6;
    margin: 0px auto;
    z-index: 6;
    right: 12px;
 display: none;
    top: 6px;

}
.loading{    float: none;
    width: 200px;
    height: auto;
    position: relative;
    margin: 0px auto;
    text-align: center;
    top: 16.4rem;
    left: 34px;}
.disclaimer{    float: none;
    position: relative;
    width: 1024px;
    margin: 0px auto;
    text-align: center;
    padding-top: 10px; display: none;    font-size: .9rem;}
.launch_wrapper {
    float: none;
    width: 1024px;
         height: 681px;
    margin: 0px auto;
    z-index: 10;
    background: url(../images/lauchimage.png);
    position: absolute;
    background-size: 1024px auto;
	background-repeat:no-repeat;
	bottom: 0px;
    background-position: 0px 24px;
}
.launchbox{    float: left;
    position: absolute;
    width: 1024px;
    height: 645px;
    z-index: 1;
    }
.footerpadding {
    padding-left: 0px !important;
    bottom: 36.8rem;
    position: fixed;
    /* left: 0px; */
    width: 1024px;}
 .block{display: block !important;}
.launch_button {
    position: absolute;
    width: 135px;
    height: 38px;
    z-index: 1;
      top: 89%;
    left: 58%;
    margin: -100px 0 0 -150px;
    text-align: center;
    padding-top: 8px;
    background: #285771;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}
.page{    position: absolute;
    bottom: 1rem;
    width: 90%;
    left: 2rem;}
		.z-index1{    position: absolute;
    z-index: 1;
    }
.transcriptor{    position: absolute;
    width: 942px;
    height: 196px;
    overflow-x: hidden;
    overflow-y: hidden;
    right: 44px;
    top: 0px;
    z-index: 1; display:none; /*opacity:0.8;*/ background:#fff;}
		.trnscript_text{display:none;     position: absolute;
    float: left;
        background: #fff;
    padding: 10px;
    color: #666 !important;
       top: 32px;
    border-top: 1px solid #fff;
                height: 175px;
                overflow-y: auto;
                width: 100%;
}

.activex-remove {
    background:georgian;
}		
.Tactive{z-index:2; position:absolute;}
.trnscript_text ul{ list-style-type:circle;}
.trnscript_text ul li{ list-style-type:circle;}
.close_transcript{float: left;
    position: absolute;
    bottom: 167px;
    right: 45px;
    z-index: 6;
    display: none;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
}
.close_transcript img{width:22px; height:22px;}
.transcript_loader{    position: absolute;
    width: 1024px;
    height: 198px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 8px;
  /*<!--  right: 288px;-->*/
    display: none;
    z-index: 106;
		right:-4px;}
a:hover, a:active, a:focus {
  border:none !important;
  outline: 0 !important;
}
a {
   outline: 0 !important;
     border:none !important;
    /*font-family: 'Helvetica';*/
}
.messagearea{    position: absolute;
    bottom: 0px;
    color: red;    left: 43px;}
.bordered{    border-right: 1px solid #f4f4f4;}
.loadtitle{display:none !important;}
.collection-item a{border: none; outline: none; border: none; border-color: #fff;}
.transcript_title{    float: left;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    left: 39px;
    z-index: 2;
    top: 0px;
    font-size: 20px;
    color: #666;
    width: 924px;
    height: auto;
    
    background-color: #fff;
color: #023770;}
	.framename {
    float: left;
    position: relative;
    height: 50px;
    width: 160px;
    /*font-family: 'Raleway-Bold' !important;*/
    font-size: 18px;
    /* top: 0.25rem; */
    background: transparent;
}
.reference-container{     position: relative;
    width: 113px;z-index: 6;    top: 91px;
    right: -103px;}
		.menu-box{       width: 199px;
    /*display: none;*/
    position: absolute;
    top: 0px;
    right:0px;
    /*border: 1px solid #002d50;*/
    padding-left: 16px;  }
#page2, #page3, #page4, #page6, #page5, #page7, #page8, #page9, #page11, #page12, #page14, #page15, #page16, #page17{display: none;}
#page5, #page10, #page13, #page14, #page16, #page17{pointer-events: none;}
nav ul li:hover, nav ul li.active{     background-color: #0c8d77;}
		.moduletitle{    float: left;
    position: left;
    position: absolute;
    font-size: 2.2rem;
    /*font-family: 'Raleway-Bold' !important;*/
    width: 53%;
    left: 7rem;
    top: 5rem;color:#fff !important;}
		.color-yellow{color:#fdb515 !important;}
		.modulesubtexttitle{float: left;
    position: absolute;
        font-size: 1.3rem;
    width: 43%;
   /*font-family: 'Helvetica';*/
    font-weight: 100;
     top: 34rem;
    left: 47.3rem;
    color: #023770; z-index: 5;}
.firsttext{font-size: 30px;
    font-weight: bold;}
.boldit{    font-weight: 600;}
		.copyrighttext{    position: absolute;
    top: 101px;}
		.position-footer{    position: absolute !important;
    top: 8rem;
		}
		.position-image-logo-launch{position: relative;
    top: -4px;
    background: #fff;}
		.responsive-icon{    position: relative;
    right: 55px;    top: 0px; padding-top:4px;}
		.moduleclose-icon{    position: relative;
    left: 0px;    top: 0px;}
nav ul a {
    padding: 0 6px;}
		.sectioname{    float: left;
    position: relative;
    height: auto;
    right: 79px;
    width: 235px;
    font-family: 'Raleway-Bold' !important;
    font-size: 18px;
    /* top: 0.25rem; */}
.disable-play-icon{background: transparent url(../images/play_change-disable.png) no-repeat center center !important;
	background-repeat:no-repeat !important;}
.disable-pause-icon{background: transparent url(../images/pause-disable.png) no-repeat center center !important;
	background-repeat:no-repeat !important;}
.disable-replay-icon{background: transparent url(../images/replay-disable.png) no-repeat center center !important;
	background-repeat:no-repeat !important;}
.disable-mute-icon{background: transparent url(../images/volume-disable.png) no-repeat center center !important;
	background-repeat:no-repeat !important;}
		.arrow-indicator{    float: left;
    position: relative;
    bottom: 24px;
    font-size: 1.2rem;
    right: 73px;}
		.framenames{height:25px; position:absolute; color:#333;line-height: 14px;
    font-weight: bold;display:none; background: #fff;}
		.titles-position-manager{    float: left;
    position: relative;
           bottom: 28px;
    width: 50%;
    left: 10rem;}
		.nextFrame{color:#fff;}
		.frametext{    float: right !important;
    position: relative;
        right: 10px;
        bottom: -83px;font-family: 'Helvetica';}
.close-bt{    float: left;
    position: absolute;
    top: 0px;
    right: 0px;}

.no-inline{display: block !important;}
		.sectionnames{    height: 25px;
    position: absolute;
    color: #333;
    line-height: 14px;
    font-weight: bold;
    display: none;
    background: #fff;
    padding-top: 1px;
    width: 310px;}
		.tableof_content{    float: left;
    position: absolute;
    width: 250px;
    height: 350px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;
    
    z-index: 1;
    display: none;
           top: 40px;
     right: 0px;
    z-index: 12;
    border: 1px solid #c4c4c4;}
.timelinecolor{    background-color: #1ca089 !important; }
		.toclist{    padding: 10px !important;
    margin: 0px !important;
    top: 0px;
    position: relative;
    height: 300px;
        overflow-y: scroll;-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0); list-style-type: none;}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.title_menu{    padding: 10px !important;
    color: #fff;
    font-size: 17px;font-family: 'Helvetica';}
		.toclist li{    padding: 12px !important;
    color: #666;
    cursor: pointer;    border-bottom: 1px solid #c5c5c5;}
		.helpindex{ float:none; position:absolute; width:1024px; height: 681px; margin:0px auto; background:url(../images/help_screen.png); background-repeat:no-repeat; display:none; top:0px; z-index:5;}
		.close_help{    float: right;
    position: absolute;
    right: 169px;
    width: 50px;
    height: 47px;
    background-color: transparent;
    top: 120px;
    cursor: pointer;
}

	#resourceloader {
   float: left;
    position: absolute;
    background-color: #fff;
    width: 90px;
    z-index: 4;
    cursor: pointer;
    /* border: 1px solid #f4f4f4; */
    display: none;
    height: 33px;
}
.tabs{width: 1024px !important; position: absolute;}
.disable_block{    float: left;
    position: absolute;
    height: 63px;
            left: 4.5em;
    width: 145px;
    display: none;
    z-index: 12;}
.ref-align{right: 10px;
    position: relative;
}
.timeline-disable{float: left;
    position: absolute;
    width: 100%;
    height: 6px;
        bottom: -19px;
    z-index: 12; display: none;}

.collection {
    height: 30px;}
		.listactivity{padding:2px !important; margin-top:0px !important; margin-bottom:0px !important;     border-top: 1px solid #e0e0e0 !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
		.listactivity li{padding: 0px 20px !important;}
		.close_resources{    float: right;
    position: absolute;
    right: -12px;
    z-index: 6;
    display: none;
    cursor: pointer;
        background: #fff;
    height: 33px;}
.Tinactive{z-index: -2;}
.white-text{color: #fff !important;}
		/*.opacity-black{opacity:0.5;}*/
		.frameno{    float: left;
    position: relative;
    font-size: 18px;
        left: 0px;color: #033771;}
		.totalfrm{font-size: 18px;
    float: left;
    position: relative;
       left: 0px;color: #033771;}
		.slash{float: left;
    position: relative;
       left:38px;top:2px;}
		.loadtitle3{width: 150px;}
.nextFrame{    float: right;
    position: absolute;
        right: 427px;
    /*top: 2px;*/
       color: #033771; display:none;
    text-align: center;
}
.brand-logo{    position: absolute;
         bottom: -92px;
    left: 3px; display: none;}
.brand-logo img {    width: 153px;}
/* Component style */
.jp-volume-controls{
    float: left;
    position: absolute;
    width: 200px;
    height: auto;
    top: 172px;
    left: 375px;
	}
	.jp-mute{
background:url(../images/volume.png);
		background-repeat:no-repeat;
		background-position:center center;
		width:33px !important;
		height:33px !important;
            left: 29.7rem;
    top: 32px;
		        display: none;	
		}
		.jp-previous{position: absolute;
    z-index: 2;
    top: 195px;
    padding: 10px;
    left: 887px;}
		.jp-next{    position: absolute;
    z-index: 2;
        top: 195px;
    left: 972px;
    padding: 10px;
   }
		.jp-stop{width:33px !important; height:33px !important;}
		.jp-volume-bar{     float: left;
    width: 80%;
    position: absolute;
    height: 5px;
    background: #fff;
    top: 1.7rem;
    left: 1.17rem;
    cursor: pointer;}
		.jp-volume-bar-value{
    height: 5px;
    background-color:#38A55B;
    float: left;
    position: absolute;
    top: 0rem;
		cursor:pointer;
			}
		.jp-unmute{
		
		background:url(../images/mute.png);
		background-repeat:no-repeat;
		background-position:center center;
		width:33px !important;
		height:33px !important;
	    left: 29.7rem;
    top: 32px;
		
		}
nav .nav-wrapper {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 9px;}
		.jp-volume-max{
			    width: 33px;
    height: 33px;
    float: left;
    position: relative;
		       top: 11px;
        right: 39px;
			
			}
.toc_close{float: left;
    position: absolute;
    z-index: 10;
    left: 198px;
    cursor: pointer;
    display: none;
    padding: 5px;
       top: 1px;
}
.audio-slideshow {
	     width: 1024px;
    height: 539px;
    position: relative;
    margin: 0 auto;
}
.replay-audio{ background:url(../images/replay.png); background-repeat:no-repeat; background-position:center;    float: left;
    position: relative;
      width: 35px !important;
    height: 35px !important;
          top: 32px;
        left: 382px;}
.audio-slideshow .audio-slides {
	position: relative;
}
.circle-playhead{float: left;
    position: relative;
    width: 25px;
    height: 25px;
    background: #fdb515;
    border-radius: 60px; bottom:12px;}
.audio-slideshow .audio-slides img {
	display: block;
	position: absolute;
	        top: 9px; left: 0;
}

.audio-slideshow .audio-control-interface {
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 100%;
    height: auto;
    
}

.audio-slideshow .play-pause-container, .audio-slideshow .time-container {
	    position: absolute;
         bottom: 3px;
    height: 150px;
    font-weight: bold;
    color: #777;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.audio-slideshow .play-pause-container a {
	outline: none;
	text-indent: -99999px;
	    width: 135px;
        height: 55px;
	position: absolute;
	z-index:6;
	background-repeat:no-repeat;
}

.audio-slideshow .play-pause-container a.audio-play {
	background: transparent url(../images/play.png) no-repeat center center;
	background-size:auto;
	background-repeat:no-repeat;
	       bottom: 74px;
        left: 54em;
}
.audio-slideshow .play-pause-container a.audio-play_1{
		background: transparent url(../images/play_change.png) no-repeat center center;
	background-repeat:no-repeat;
	display: block;
    width: 35px;
    height: 35px;
    left: 713px;
    top: 203px;
		    z-index: 6;
				display:none;
				    background-color: #fff;

	}
.audio-slideshow .play-pause-container a.jp-stop{
		background: transparent url(../images/stop.png) no-repeat center center;
		  left: 8.6rem;
    top: 11rem;
		display:none;
}
.audio-slideshow .play-pause-container a.audio-pause {
    background: transparent url(../images/pause.png) no-repeat center center;
     left: 713px;
    top: 203px;
}

.audio-slideshow .audio-control-interface .time-container {
	  bottom: 65px;
    left: 0px;
}

.audio-slideshow .timeline {
        position: absolute;
    width: 100%;
    background-color: #96c6bd;
    height: 8px;
    top: 60px;
    right: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    border-bottom: 2px solid #013871;
}

.audio-slideshow .timeline .playhead {
position: absolute;
    height: 6px;
       background-color:#1ca089;
    cursor: pointer;
    bottom: 0px;
  

}

.marker {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
	position: absolute;
	background: #B8BAC6;
	top: 5px;
	display:none;
}

.marker span {
	padding: 5px;
	position: absolute;
	bottom: 20px;
	opacity: 0;
	left: -50px;
	z-index: -1;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	background: #f5f6f6;
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.marker span img {
	display: block;
}

.marker:hover span {
	opacity: 1;
	z-index: 100;
}
.close_resources img{    top: -4px;
    position: relative;}
.nis_frame_tabMode { background:#fdb515;}
.timeline-container{ float: none; position: relative; margin: 0px auto; width: 900px;}
@media screen and (max-width:2304px)
{
   
.arrow-indicator{ right:68px;}
}

@media screen and (max-width:1920px)
{
    canvas{left: 27.7rem;}
    .transcript_icon {
    position: absolute;
         bottom: -90px;}
    .transcript_loader {bottom: -1px;}
    .nextFrame {
    bottom: -78px;
}
.audio-slideshow .play-pause-container a.audio-play {
    bottom: 13px; left: 50.6rem;}
    .close_resources {
        right: -10px;
    }
    .audio-slideshow .audio-control-interface .time-container {
        bottom: -130px;}
.position-image-logo-launch {

      top: 31px;
    left: 31px;}
    .mainshell_ipad {height: 670px; box-shadow: none; -webkit-box-shadow:none; -ms-box-shadow:none; -moz-box-shadow:none;}
.footerpadding {
    bottom: -1.6rem;
    position: absolute;
}
    .modal {width:900px;}
}
@media screen and (max-width:1600px)
{
    .audio-slideshow .play-pause-container a.audio-play {
     bottom: 22px;
    left: 844px;
}
canvas {
    z-index: 1;
    left: 17.7rem;
}
}
@media screen and (max-width:1366px)
{
    .audio-slideshow .play-pause-container a.audio-play {
        bottom: 20px;
    left: 53.5em;
}
    canvas {
    position: absolute;
    left: 10.4rem;
        top: 5rem;}
    
}
@media screen and (max-width:1024px){
    .reference-container {
    top: 92px;
    right: -102px;

}
    .close_help {
      right: 168px;
    width: 49px;
    height: 47px;
    top: 102px;
}
    .launch_wrapper {
        background-position: 0px 9px;}
    .modulesubtexttitle {
           top: 27.4rem;
    left: 46.3rem;}
    .information-icon {
    top: 5px;
        left: 282px;}
    canvas {
    left: 0rem;
        top: 90px;}
    .moveup{    background: #011423;    height: 64px;}
    .audio-slideshow .audio-control-interface .time-container {
           left: 0px; }
    .position-image-logo-launch {
        top: -12px;}
    .footerpadding {
            bottom: 0rem;height: 200px;    position: fixed;}

    .launch_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 10px;
}
    .brand-logo{bottom: -7px;}
.position-image-logo-launch {
       top: 68px;
}
    .audio-slideshow .play-pause-container a.audio-play{    bottom: 100px;left: 29em;}
    
   .jp-previous {
   top: 16px;
          left: 521px;
}
.pageloader-box {
    height: 97%;
    top: 40px;
}  
    .widthoverlay {width: 100%;}    
#debugConsole {
    height: 100%;
    z-index: 6;
}
    .jp-next {
   left: 607px;
        top: 16px;

}
    .jp-volume-controls {
    float: left;
    position: relative;
    width: 33px;
    height: 40px;
        left: 39px;top: 0px;}
    .moveup {
    position: fixed;
    bottom: 0px;
}
    .transcript_icon{position: fixed;}
#debugText {
    height: 100%;}
iframe{   
    right: 14rem !important;
    top: 50px !important;}
    .tableof_content {
    right: 57px;
}
    .jp-mute{display: none !important;}
    .jp-unmute{display: none !important;}
    .arrow-indicator{
        right: 68px}
  .modal {
      width: 80%;     max-height: 78%;}
    .close_transcript {
            right: 45px;}

    .trnscript_text {
        width: 99.9%;}
     body{overflow:hidden !important;}
    .audio-slideshow .play-pause-container a.audio-pause {
    left: 396px;
    top: 24px;
}
.switch {
    width: 292px;
    z-index: 20;
        margin-left: 36rem;
    top: 1rem;
}
    /*nav .brand-logo {
    left: 6%;
}*/
   
    .titles-position-manager {
        left: 9rem;}
    .audio-slideshow .timeline {right: 0px;top:-4px;}
    .nextFrame {
            right: 373px; text-align: center;    /*top: 0px;*/ position: fixed; }
    .nextFrame {
    bottom: 24px;
}
.footerwidth {
    border-top: none;
    }
    .replay-audio {
         top: 6px;
    left: 402px;
}
  .audio-slideshow .play-pause-container a.audio-play_1{ left: 396px;
        top: 24px;}
 .tableof_content {
       right: 0px;
}
 .transcript_loader {    right: -4px;
    bottom: 71px;
    position: fixed;}
    frameset,frame{width:1024px; position:relative;overflow: hidden;}
    body,
html {
  position: fixed;
    overflow: hidden;
    width:100%;
    height:100%;
      background: #fff !important;  
}
    
  
    .audio-slideshow .audio-control-interface {
    position: fixed;
  bottom:0px;
    right:0px;
    width: 100%;
    height: 55px;
        margin-bottom: 0px;
            background: #fff;
}
    
.close_resources {
    background: #fff;
}
    .helpindex{ background:url(../images/help_screen_ipad.png); background-repeat:no-repeat;}  
    .transcript_icon {
    /*right: 65px;
    top: 541px;*/
   right: 136px;
    position: fixed;
   bottom: 8px;

}
/*.responsive-icon {

    right: 103px;}*/
    /*.moduleclose-icon {
        left: -16px;}*/
    .timeline-disable {
    position: absolute;
    bottom: 0px;}
    .frametext {position: fixed;
         right: 5px;
    bottom: 14px !important;

}
    .play-pause-container {
    position: relative !important;
    margin: 0px auto;
    float: none;
    /*right: 3em;*/
}
    .audio-slideshow .play-pause-container, .audio-slideshow .time-container {
   /* position: absolute;
    /* bottom: 0px; */
    height: auto;
    font-weight: bold;
    color: #777;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    float: none;
    margin: 0px auto;
    width: 287px;
    padding-top: 1.2em;
}
		
    body{    background: #fff;}
 
}
/*@media screen and (max-width:768px)
{
    .orientation-changed{display: block;}
   /* html, body {
    height: 1024px;}
    .audio-slideshow .audio-control-interface { background: #011423;}
}*/

@media all and (orientation:portrait) {
  .orientation-changed{    float: none;
    margin: 0px auto;
    width: 994px;
    height: 85px;
    color: red;
    display: block;
    font-size: 28px;
    padding-left: 10px;
    top: 19em;
    position: absolute;
    background: #000;
    z-index: 12;}

      
.audio-slideshow .audio-control-interface { background: #011423;position: absolute;
    right: 34px;    margin-bottom: -12px;}
      .frametext {
    /* float: left !important; */
    position: absolute;
          left: 24px;bottom: 15px !important;}
      .transcript_icon {
    position: absolute;
    bottom: 0px;
}
.nextFrame {
    top: 34rem;
}
      .transcript_loader {
    right: 11px;
    bottom: 95px;
    position: absolute;
}
      
      .mainshell_ipad {
          height: auto;}
    html,body {
    
       height: 640px;} 
}
@media screen and (orientation:landscape)
{
       .orientation-changed{display: none;}
}
